# Ignore node_modules everywhere (any depth)
**/node_modules/

# Ignore Angular build outputs everywhere
**/dist/
**/out-tsc/
**/tmp/

# IDE configs
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db
